
html {
	font-size:40%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
   max-width: 100%;
   max-height: 100%;
   height: auto;
}
.admin_profile {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.admin_profile .rectangle {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
/* Welcome Admin */

.admin_profile .title {
  position: absolute;
  width: 482px;
  height: 41px;
  left: 690px;
  top: 233px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 57px;
  line-height: 41px;
  /* identical to box height, or 72% */
  color: #111E5F;

}

.admin_profile .mini_rect{
  /* Rectangle 21 */
position: absolute;
width: 364px;
height: 147px;
left: 135px;
top: 602px;

background: #9BABFF;
box-shadow: 0px 0px 34px -14px #111E5F;
border-radius: 10px;
}

.admin_profile .miniproject{
  /* Mini Project */
position: absolute;
width: 320px;
height: 47px;
left: 210px;
top: 652px;

font-family: 'Axiforma-Bold';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 41px;
/* or 102% */

display: flex;
align-items: center;
text-align: center;

color: #0F1222;
}

.admin_profile .main_rect{
  position: absolute;
  width: 364px;
  height: 147px;
  left: 564px;
  top: 602px;

  background: #9BABFF;
  box-shadow: 0px 0px 34px -14px #111E5F;
  border-radius: 10px;
}

.admin_profile .mainproject{
  /* Main Project */
position: absolute;
width: 320px;
height: 47px;
left: 630px;
top: 652px;

font-family: 'Axiforma-Bold';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 41px;
/* or 102% */

display: flex;
align-items: center;
text-align: center;

color: #0F1222;
}

.admin_profile .guide_rect{
  position: absolute;
  width: 364px;
  height: 147px;
  left: 993px;
  top: 602px;
  
  background: #9BABFF;
  box-shadow: 0px 0px 34px -14px #111E5F;
  border-radius: 10px;
}

.admin_profile .guides{
  /* Guides */
position: absolute;
width: 320px;
height: 47px;
left: 1110px;
top: 652px;

font-family: 'Axiforma-Bold';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 41px;
/* or 102% */

display: flex;
align-items: center;
text-align: center;

color: #0F1222;
}

.admin_profile .cord_rect{
  position: absolute;
  width: 364px;
  height: 147px;
  left: 1422px;
  top: 602px;
  
  background: #9BABFF;
  box-shadow: 0px 0px 34px -14px #111E5F;
  border-radius: 10px;;
}

.admin_profile .cordinator{
  position: absolute;
  width: 320px;
  height: 47px;
  left: 1500px;
  top: 652px;

  font-family: 'Axiforma-Bold';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 41px;
  /* or 102% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #0F1222;
}

.admin_profile .prolist_rect{
  position: absolute;
  width: 364px;
  height: 147px;
  left: 135px;
  top: 817px;
  
  background: #9BABFF;
  box-shadow: 0px 0px 34px -14px #111E5F;
  border-radius: 10px;
}

.admin_profile .projectlist{
  /* Project List */
position: absolute;
width: 364px;
height: 47px;
left: 210px;
top: 867px;

font-family: 'Axiforma-Bold';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 41px;
/* or 102% */

display: flex;
align-items: center;
text-align: center;

color: #0F1222;
}

.admin_profile .student_rect{
  position: absolute;
  width: 364px;
  height: 147px;
  left: 564px;
  top: 817px;
  
  background: #9BABFF;
  box-shadow: 0px 0px 34px -14px #111E5F;
  border-radius: 10px;
}

.admin_profile .studentlist{
  /* Student List */
position: absolute;
width: 364px;
height: 47px;
left: 630px;
top: 867px;

font-family: 'Axiforma-Bold';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 41px;
/* or 102% */

display: flex;
align-items: center;
text-align: center;

color: #0F1222;
}

.admin_profile .notif_rect{
  position: absolute;
  width: 364px;
  height: 147px;
  left: 993px;
  top: 817px;
  
  background: #9BABFF;
  box-shadow: 0px 0px 34px -14px #111E5F;
  border-radius: 10px;
}

.admin_profile .notification{
  position: absolute;
  width: 364px;
  height: 47px;
  left: 1110px;
  top: 867px;

  font-family: 'Axiforma-Bold';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 41px;
  /* or 102% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #0F1222;
  }

.admin_profile .req_rect{
  position: absolute;
  width: 364px;
  height: 147px;
  left: 1422px;
  top: 817px;
  
  background: #9BABFF;
  box-shadow: 0px 0px 34px -14px #111E5F;
  border-radius: 10px;
}

.admin_profile .request{
  position: absolute;
  width: 364px;
  height: 47px;
  left: 1520px;
  top: 867px;

  font-family: 'Axiforma-Bold';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 41px;
  /* or 102% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #0F1222;
}