body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FFFCFF;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.calendar {
  width: 770px;
  margin-top: 50px;
  background-color: #e8f4fa;
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;
  padding: 20px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

#header h2 {
  color: #d36c6c;
  font-size: 26px;
  margin: 0;
}

#header button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: #92a1d1;
}

#weekdays {
  display: flex;
  color: #247BA0;
  margin-bottom: 10px;
}

#weekdays div {
  flex: 1;
  padding: 10px;
  text-align: center;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.day {
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
  text-align: center;
}

.day:hover {
  background-color: #e8faed;
}

.day#currentDay {
  background-color: #e8f4fa;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: black;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

.modal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
  border: 2px solid red;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-buttons button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
}

#saveButton {
  background-color: #92a1d1;
}

#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
