.searchResults {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch; /* Adjust vertical alignment to top */
  grid-auto-rows: 200px;
  overflow-y: hidden;
}

.card {
  position: relative;
  background-color: #efe7e7;
  padding: 10px;
  border-radius: 4px;
  max-height: 200px;
  margin-bottom: 20px;

  /* Additional styles to center the content */
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: auto;
}
