html {
	font-size:40%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
   max-width: 100%;
   max-height: 100vh;
   height: auto;
}
.home_page {
  width: 180rem;
  height: 105rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.home_page .title {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .login_rect {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .login_key {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .search_key {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .search_rect {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .search {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .mini_react {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .miniproject {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .main_rect {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .mainproject {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .tagline_head {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .tagline {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .signup_rect {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.home_page .getstarted {
  width: 116.8rem;
  height: 108rem;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}

