html {
	font-size:100%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
	max-width: 100%;
	max-height: 100%;
   height: auto;
   width: auto;
}
.home_page {
	width: 100vw;
	height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.home_page .title {

	position: absolute;
	display: flex;
	align-items: center;
	width: 20%;
	height: 10%;
	left: 44%;
	top: 18%;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 600;
	font-size: 3vw;
	line-height: 1.2;
	color: #050505;
}
.home_page .title:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
  }
.home_page .logo{
	background-image: url(../assets//logo.png);
	width: 10rem;
	height: 10rem;
	position: absolute;
	left: 36%;
	top: 16%;

	object-fit: cover;
	background-color: #ffffff00;
	border-color: #00000000 ;	
	background-size: cover;
	background-position: center;
	
}
.home_page .search_rect {
	position: absolute;
	width: 60%;
	height: 8%;
	left: calc(50% - 30%);
	top: 40%;
	background: #b7b7b7;
	border-radius: 45px;
}

.home_page .searchimg {
	
	width: 4.5rem;
	height: 4.5rem;
	left: calc(86% - 10%);
	top: 41%;
	position: absolute;
	z-index: 1;
	object-fit: cover;
	background-color: transparent;
	border-color: #00000000 ;	
	background-image: url('../assets/glass.png');
	background-size: cover;
	background-position: center;

}
.home_page .login_key {

	position: absolute;
	width: 6%;
	height: 6%;
	left: 138rem;
	top: 4.5rem;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 1.2vw;
	line-height: 2.3;
	color: #000000;
	background-color: #9AAAFF;
	border-radius: 10px;
}

.home_page .search {
	position: absolute;
	width: 50%;
	height: 7%;
	left: calc(53% - 30%);
	top: 40.5%;
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 1.3vw;
	background-color: #ffffff00;
	color: #111111;
}
.home_page .miniproject {
	position: absolute;
	width: 12%;
	height: 7%;
	left: 35%;
	top: 55%;
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 1.6vw;
	line-height: 2;
	align-items: center;
	text-align: center;
	color: #000000;
	background-color: #9aaaff;
	border-radius: 10px;
}
.home_page .mainproject {
	position: absolute;
	width: 12%;
	height: 7%;
	left: 55%;
	top: 55%;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 1.6vw;
	line-height: 2;
	align-items: center;
	text-align: center;
	color: #000000;
	background-color: #9aaaff;
	border-radius: 10px;
}

.home_page .tagline_head {
	position: absolute;
	width: 45%;
	height: 4%;
	align-content: center;
	left: calc(51% - 20%);
	top: 77%;
	font-size: 3.5rem;
	font-family: 'Helvetica';
	font-weight: 600;
	color: #2b2b2b;
}

.home_page .getstarted {
	position: absolute;
	width: 15%;
	height: 6%;
	left: 66rem;
	top: 63rem;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 600;
	font-size: 1.2vw;
	line-height: 2.3;
	color: #ffffff;
	background-color: #1d1d1d;
	border-radius: 10px;

}
.home_page .bgrect {
	width: 100vw;
	height: 40rem;
	position: absolute;
	top: 50rem;
	background-color: rgba(154, 170, 255, 0.9900000095);
}