 html {
	font-size:40%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
   max-width: 100%;
   max-height: 100%;
   height: auto;
}
.login_page {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.login_page .rectangle {
  width: 110vh;
  height: 100%;
  position: absolute;
  left: 75.2rem;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.login_page .projecx_flow {
  width: 24.4rem;
  height: 6.7rem;
  position: absolute;
  left: 27.5rem;
  top: 58.5rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1075;
  color: #050505;
  font-family: 'Source Sans Pro';
  white-space: nowrap;
}
.login_page .login_key {
  width: 16rem;
  height: 6rem;
  position: absolute;
  left: 109rem;
  top: 43.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  align-items: center;
  text-align: center;
  line-height: 2.5;
  color: #ffffff;
  background-color: #191919;
  border-radius: 1.2rem;
  font-family: 'Helvetica';
  white-space: nowrap;
}
.login_page .grup_pic {
  width: 50rem;
  height: 39rem;
  position: relative;
  left: 10rem;
  top: 10rem;
  background-size: 100% 135.022%;
  background-position: 0 -10rem;
  background-image: url('../assets/grouppic.png');
  border-radius: 10rem;
}
.login_page .logo {
  width: 8rem;
  height: 5.5rem;
  position: absolute;
  left: 18rem;
  top: 58rem;
  background-size: 100% 120%;
  background-position: 0 -7rem;
  background-image: url('../assets/logo.png');
  object-fit: cover;
  vertical-align: top;
  border-image: none;
}

.login_page .rectuser {
  width: 43.8rem;
  height: 6rem;
  position: absolute;
  left: 95rem;
  top: 23rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.login_page .user_name {
  background-color: #ffffff;
  width: 38rem;
  height: 3.6rem;
  position: absolute;
  left: 98rem;
  top: 24rem;
  font-size: 2.4rem;
  font-weight: 350;
  line-height: 1.5;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.login_page .rectpass {
  width: 43.8rem;
  height: 6rem;
  position: absolute;
  left: 95rem;
  top: 32rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.login_page .pass_word {
  width: 38rem;
  background-color: #ffffff;
  height: 3.6rem;
  position: absolute;
  left: 98rem;
  top: 33rem;
  font-size: 2.4rem;
  font-weight: 350;
  line-height: 1.5;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.login_page .forgot_pass {
  width: 19.9rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 97rem;
  top: 58.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.login_page .create_acc {
  width: 23.1rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 119.5rem;
  top: 58.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.login_page .welcome {
  width: 36.4rem;
  height: 4.1rem;
  position: absolute;
  left: 100rem;
  top: 11rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 0.8541666667;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.login_page .line {
  width: 0.2rem;
  height: 4.5044rem;
  position: absolute;
  left: 117rem;
  top: 58rem;
  background-color: #000000;
}
