html {
	font-size:40%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
   max-width: 100%;
   max-height: 100%;
   height: auto;
}
.mainlist {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: black;
}
.mainlist .title {
    position: relative;
	width: 45%;
	height: 4%;
	align-content: center;
	left: calc(45% - 20%);
	top: 3.3%;
    z-index: 1;
	font-size: 4.5rem;
	font-family: 'Helvetica';
	font-weight: 600;
	color: #292929;
}

.h2{
    color: black;
}
.h3{
    color: black;
}
/* .mainlist .back {
 
    position: relative;
    width: 15%;
    height: 6%;
    left: 80rem;
    top: 90rem;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 2.3;
    color: #ffffff; 
    background-color: #1d1d1d;
    border-radius: 10px;
        

} */
/* .mainlist .list {
    width: 15%;
    height: 6%;
    left: 160rem;
    top: 18rem;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: 600;
    z-index: 1;
    font-size: 1.2vw;
    line-height: 2.3;
    color: #ffffff; 
} */
.mainlist .bgrect {
	width: 100vw;
	height: 15rem;
	position: relative;
	top: -5rem;
	background-color: rgba(154, 170, 255, 0.9900000095);
}