html {
	font-size: 40%;
  }
  
  * {
	margin: 0;
	padding: 0;
  }
  
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
  }
  
  .coordinator {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
  }
  .coordinator .title{
	position: absolute;
	width: 45%;
	height: 5%;
	align-content: center;
	left: calc(55% - 30%);
	top: 25%;
    z-index: 1;
	
	font-size: 10rem;
	font-family: 'Helvetica';
	font-weight: 600;
	color: #000000;
  }
  .coordinator .mini{
	width: 75rem;
	height : 30rem;
	position: absolute;
	left : 15%;
	top :45%;
	color: #000000;
	background-color: #99a9fd;
	font-size: 8rem;
  }
  .coordinator .main{
	width: 75rem;
	height : 30rem;
	position: absolute;
	left :39%;
	top :45%;
	color: #000000;
	background-color: #99a9fd;
	font-size: 8rem;
  }
  .coordinator .student{
	width: 75rem;
	height : 30rem;
	position: absolute;
	left :65%;
	top :45%;
	color: #000000;
	background-color: #99a9fd;
	font-size: 8rem;
  }
  .coordinator .guide{
	width: 75rem;
	height : 30rem;
	position: absolute;
	left :15%;
	top : 70%;
	color: #000000;
	background-color: #99a9fd;
	font-size: 8rem;
  }
  .coordinator .mine{
	width: 75rem;
	height : 30rem;
	position: absolute;
	left :39%;
	top : 70%;
	color: #000000;
	background-color: #99a9fd;
	font-size: 8rem;
  }
  .coordinator .guidance{
	width: 75rem;
	height : 30rem;
	position: absolute;
	left :65%;
	top : 70%;
	color: #000000;
	background-color: #99a9fd;
	font-size: 8rem;
  }
  .coordinator .bgrect {
	width: 100vw;
	height: 25rem;
	position: absolute;
	top: 0rem;
	background-color: #9aaafffc;
}