html {
	font-size:40%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
   max-width: 100%;
   max-height: 100%;
   height: auto;
}
.sign_up {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background-color: #ffffff;
}

.sign_up .login_rect {

	position: absolute;
	width: 120px;
	height: 60px;
	left: 1743px;
	top: 33px;
	
	background: #9AAAFF;
	border-radius: 12px;
}
/* .create-account-pQn .group-3-9hx .auto-group-6ru4-gSz {
  margin: 22rem 8.5rem 0rem 0rem;
  width: 69.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-6ru4-gSz .ellipse-9-CRL {
  margin: 0rem 33.8rem 6.2rem 21.4rem;
  width: calc(100% - 55.2rem);
  height: 14.7rem;
  background-color: rgba(154, 170, 255, 0.1400000006);
  border-radius: 7.35rem;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-6ru4-gSz .ellipse-10-6Wi {
  margin: 0rem 15.1rem 22.9rem 43.9rem;
  width: calc(100% - 59rem);
  height: 10.9rem;
  background-color: rgba(154, 170, 255, 0.1400000006);
  border-radius: 5.45rem;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-6ru4-gSz .ellipse-5-cV4 {
  width: 100%;
  height: 69.9rem;
  background-color: rgba(154, 170, 255, 0.1400000006);
  border-radius: 34.95rem;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-7blr-kbG {
  margin: 42.5rem 12.5rem 38.6rem 0rem;
  height: calc(100% - 81.1rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-7blr-kbG .ellipse-7-Qfp {
  margin: 0rem 12.8rem 23.6rem 0rem;
  width: 27.2rem;
  height: 27.2rem;
  background-color: rgba(154, 170, 255, 0.1400000006);
  border-radius: 13.6rem;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-7blr-kbG .ellipse-8-862 {
  width: 14.7rem;
  height: 14.7rem;
  background-color: rgba(154, 170, 255, 0.1400000006);
  border-radius: 7.35rem;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-1xvq-FwL {
  margin-bottom: 36.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-1xvq-FwL .ellipse-11-ohx {
  margin-bottom: 9.3rem;
  width: 25.4rem;
  height: 25.4rem;
  background-color: rgba(154, 170, 255, 0.1400000006);
  border-radius: 12.7rem;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-1xvq-FwL .ellipse-5-Y9k {
  margin-left: 15.6rem;
  width: 50.3rem;
  height: 50.3rem;
  background-color: rgba(154, 170, 255, 0.1400000006);
  border-radius: 25.15rem;
  flex-shrink: 0;
}
.create-account-pQn .group-3-9hx .auto-group-1xvq-FwL .ellipse-6-4tn {
  margin-left: 3.5rem;
  width: 25.4rem;
  height: 25.4rem;
  background-color: rgba(154, 170, 255, 0.1400000006);
  border-radius: 12.7rem;
  flex-shrink: 0;
}
.create-account-pQn .rectangle-14-NuU {
  width: 36.7rem;
  height: 108rem;
  position: relative;
  left: 0;
  top: 0;
  background-color: rgba(154, 170, 255, 0.9900000095);
}
.create-account-pQn .projecx-flow-vAJ {
  width: 10.7rem;
  height: 44.3rem;
  position: relative;
  left: 12.9rem;
  top: 27.5rem;
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.1075;
  color: #050505;
  font-family: Odibee Sans, 'Source Sans Pro';
}
.create-account-pQn .projectxflow-2-RMx {
  width: 8.6rem;
  height: 10.7rem;
  position: relative;
  left: 12.9rem;
  top: 69.6rem;
  object-fit: cover;
  vertical-align: top;
}
.create-account-pQn .rectangle-21-MWW {
  width: 43.8rem;
  height: 8.6rem;
  position: relative;
  left: 95.2rem;
  top: 31.4rem;
  background-color: #e2e2e2;
  border-radius: 1rem;
}
.create-account-pQn .username-tFY {
  width: 12.4rem;
  height: 3.6rem;
  position: relative;
  left: 98.7rem;
  top: 34.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.create-account-pQn .rectangle-22-PTC {
  width: 43.8rem;
  height: 8.6rem;
  position: relative;
  left: 95.2rem;
  top: 69.2rem;
  background-color: #e2e2e2;
  border-radius: 1rem;
}
.create-account-pQn .rectangle-23-7tz {
  width: 43.8rem;
  height: 8.6rem;
  position: relative;
  left: 95.2rem;
  top: 43.5rem;
  background-color: #e2e2e2;
  border-radius: 1rem;
}
.create-account-pQn .answer-FVQ {
  width: 8.8rem;
  height: 3.6rem;
  position: relative;
  left: 98.7rem;
  top: 71.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.create-account-pQn .phone-number-ZW6 {
  width: 17.7rem;
  height: 3.6rem;
  position: relative;
  left: 98.7rem;
  top: 45.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.create-account-pQn .question-gKp {
  width: 11.2rem;
  height: 3.6rem;
  position: relative;
  left: 111.7rem;
  top: 62.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #283f8d;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.create-account-pQn .reset-your-password-z5c {
  width: 50.8rem;
  height: 4.1rem;
  position: relative;
  left: 92rem;
  top: 18.8rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 0.8541666667;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.create-account-pQn .line-1-6PY {
  width: 59.8rem;
  height: 0.2rem;
  position: relative;
  left: 87.2rem;
  top: 57.6rem;
  background-color: #000000;
}
.create-account-pQn .rectangle-20-2nz {
  width: 16rem;
  height: 6rem;
  position: relative;
  left: 111.1rem;
  top: 88.5rem;
  background-color: #191919;
  border-radius: 1.2rem;
}
.create-account-pQn .submit-MqG {
  width: 8.6rem;
  height: 3.6rem;
  position: relative;
  left: 114.8rem;
  top: 89.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}
.create-account-pQn .icon-arrow-left-5WN {
  width: 2.5rem;
  height: 2.5549rem;
  position: relative;
  left: 41.4rem;
  top: 4.8rem;
  object-fit: contain;
  vertical-align: top; */


.sign_up .login {
	position: absolute;
	width: 66px;
	height: 36px;
	left: 1768px;
	top: 44px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	color: #000000;
}

.sign_up .name_rect {

	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 519px;
	
	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .Name {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 544px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: #000000;
}

.sign_up .phno_rect {

	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 637px;
	
	background: #E2E2E2;
	border-radius: 10px
}
.sign_up .phno {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 662px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: #000000;
}

.sign_up .email_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 755px;

	background: #E2E2E2;
	border-radius: 10px;
}

.sign_up .email {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 780px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: #000000;
}

.sign_up .clg_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 873px;

	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .clg {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 898px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	display: flex;
	align-items: center;

	color: #000000;
}

.sign_up .dept_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 991px;

	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .dept {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 1016px;
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	
	color: #000000;
}

.sign_up .sem_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 1109px;
	
	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .sem {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 1135px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: #000000;
}

.sign_up .adno_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 1227px;
	
	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .adno {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 1252px;
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	
	color: #000000;
}

.sign_up .rno_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 1345px;
	
	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .rno {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 1370px;
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	display: flex;
	align-items: center;
	
	color: #000000;
}

.sign_up .regno_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 1463px;
	
	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .regno {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 1488px;
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	display: flex;
	align-items: center;
	
	color: #000000;
}

.sign_up .pwd_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 1581px;
	
	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .pwd {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 1606px;
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	display: flex;
	align-items: center;
	
	color: #000000;
}

.sign_up .quest_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 1699px;
	
	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .quest {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 1724px;
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	
	color: #000000;
}

.sign_up .ans_rect {
	position: absolute;
	width: 661px;
	height: 86px;
	left: 500px;
	top: 1817px;
	
	background: #E2E2E2;
	border-radius: 10px;
}
.sign_up .ans {
	position: absolute;
	width: 550px;
	height: 36px;
	left: 530px;
	top: 1842px;
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	display: flex;
	align-items: center;
	
	color: #000000;
}

.sign_up .submit {
	position: absolute;
	width: 10%;
	height: 3%;
	left: 80rem;
	top: 350rem;
	text-align: center;
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 0.8vw;
	line-height: 2.3;
	color: #ffffff;
	background-color: #1d1d1d;
	border-radius: 10px;
}



.sign_up .progline {

	width: 50rem;
	height: 1.2rem;
	position: relative;
	left: 10rem;
	top: 38rem;position: absolute;
	width: 66px;
	height: 36px;
	left: 1768px;
	top: 44px;
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	
	
	color: #000000;
	background-color: #11772e;
}
.sign_up .rectline {

	width: 110rem;
	height: 1.2rem;
	position: relative;
	left: 58rem;
	top: 38rem;
	background-color: #b3b3b3;
	
}
