html {
	font-size:40%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
   max-width: 100%;
   max-height: 100%;
   height: auto;
}
.sign_up {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.select .loginrect {

	width: 16rem;
	height: 6rem;
	cursor: pointer;
	position: absolute;
	left: 155rem;
	top: 6rem;
	background-color: #9AAAFF;
	border-radius: 1.2rem;
}

.select .progline {

	width: 50rem;
	height: 1.2rem;
	position: absolute;
	left: 10rem;
	top: 38rem;
	background-color: #11772e;
	
}
.select .rectline {

	width: 110rem;
	height: 1.2rem;
	position: absolute;
	left: 58rem;
	top: 38rem;
	background-color: #b3b3b3;
	
}